<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AJLineBarChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>788ACBA41F682F4A0054DD4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>788ACBBD1F682F4A0054DD4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>788ACBC81F682F4A0054DD4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
